---
import { CollectionEntry } from 'astro:content'
import Blog from '../pages/blog.astro'
type Props = {
    blog: CollectionEntry<'posts'>
}

const { blog } = Astro.props;
---

<!-- This is an example component -->
<div class="max-w-lg mx-auto">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
        <a href="#">
            <img class="rounded-t-lg" src={blog.data.image}} alt="">
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">{blog.data.title}</h5>
            </a>
            <p class="font-normal text-gray-700 mb-3">{blog.data.desc}</p>
            <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" href={`/blogs/${blog.slug}`}>
                Read more
            </a>
        </div>
    </div>
</div>